extends ./layouts/application.pug

block content
  - var base_path = "";
  - var page_title = "Home";
  - var page_description = "This is the Home Page";
  - var page_keywords = "Some, Keywords";
  - var page_image = "image/deafult1.png";
  - var main_header_classes = "";
  h1= data
